In [260]:
import pandas as pd

#load dataset
data_xls = pd.read_excel('Training data.xlsx', 'Info', index_col=None)
data_xls.to_csv('Info.csv', encoding='utf-8',index = False)
data_xls = pd.read_excel('Training data.xlsx', 'TPR', index_col=None)
data_xls.to_csv('TPR.csv', encoding='utf-8', index = False)

infoSet = pd.read_csv("Info.csv", header = None, skiprows=[0])
TPRSet = pd.read_csv("TPR.csv", header = None, skiprows=[0])

infoSet

,0,1,2,3,4,5,6
0,12654924,1,62,"1,4","Ertapenem Sod,Cefmetazole,Amikacin,Norfloxacin","Escherichia coli,Pseudomonas aeruginosa",0
1,13919017,1,86,1,0,0,1
2,13344466,1,81,4,"Piperacillin+Tazobactam,Imipenem+cilastatin,Le...","Candida albicans,Pseudomonas aeruginosa,Staphy...",0
3,13225525,2,89,"1,2",0,0,0
4,12035675,2,71,"1,4","Ceftazidime,Cefixime",Enterococcus faecium,0
...,...,...,...,...,...,...,...
315,3044497,2,39,1,0,0,0
316,3507318,2,55,1,Cephradine,0,0
317,3406405,1,79,1,"Levofloxacin,Ertapenem Sod,Cefazolin,Cephradin...",Klebsiella pneumoniae ssp pneumoniae,1
318,3945785,2,77,1,Doxycycline,0,0
319,3692910,2,73,1,"Cefixime,Cefmetazole",0,0

In [261]:
# merge 2 set
from sklearn.decomposition import PCA

aggregation_functions = {2: 'mean', 3: 'mean', 4: 'mean', 5: 'mean', 6: 'mean'}

TPRaggreg = TPRSet.groupby(TPRSet[0]).aggregate(aggregation_functions)
label = {"No", "Gender", "Age", "bact", "T", "P", "R", "NBPS", "NBPD"}
label = {0:"No"}
mergeSet = pd.merge(infoSet.iloc[:, [True, True, True, False, False, True, True]], TPRaggreg.iloc[:, [True, True, True, False, False]], on=0)
# mergeSet.rename(columns=label)
# mergeSet = pd.merge(infoSet.iloc[:, [True, True, True, False, False, False, True]], TPRaggreg.iloc[:, [True, True, True, False, False]], on=0)
mergeSet

,0,1,2_x,5,6,2_y,3,4
0,12654924,1,62,"Escherichia coli,Pseudomonas aeruginosa",0,36.547368,111.095238,19.437500
1,13919017,1,86,0,1,36.356250,96.560000,17.176471
2,13344466,1,81,"Candida albicans,Pseudomonas aeruginosa,Staphy...",0,36.645833,71.772727,18.388889
3,13225525,2,89,0,0,36.940000,85.700000,18.900000
4,12035675,2,71,Enterococcus faecium,0,36.636364,93.416667,19.136364
...,...,...,...,...,...,...,...,...
315,3044497,2,39,0,0,36.800000,83.772727,18.250000
316,3507318,2,55,0,0,37.137931,96.421053,18.062500
317,3406405,1,79,Klebsiella pneumoniae ssp pneumoniae,1,36.655556,118.679245,19.145833
318,3945785,2,77,0,0,36.941176,74.631579,19.250000
319,3692910,2,73,0,0,36.580000,111.000000,17.933333

In [318]:
import numpy as np

def str_trim(series, ser_name):
    series = series.replace(' ', np.nan)
    series = series.replace('', np.nan, regex=True)
    series = series.replace("0", np.nan, regex=True)
    
    feature = pd.DataFrame(series.str.split(',').explode())
    feature = feature.drop_duplicates(subset=None, keep='first', inplace=False)
    feature = feature.replace('', np.nan)
    feature = feature.dropna()

    return series, feature

bacteria = infoSet.iloc[:, 5]
bacteria = bacteria.rename("bacteria")
bacteriaSet, bacteria_feature= str_trim(bacteria, 'bacteria')
mergeSet[5] = bacteriaSet
bacteria_feature

# mergeSet[5]

                                 bacteria
0                        Escherichia coli
0                  Pseudomonas aeruginosa
2                        Candida albicans
2              Staphylococcus epidermidis
4                    Enterococcus faecium
5        Enterobacter cloacae ssp cloacae
8    Klebsiella pneumoniae ssp pneumoniae
22                     Candida tropicalis
27                      Proteus mirabilis
27            Staphylococcus pettenkoferi
31                 Staphylococcus capitis
33             Enterococcus faecium (VRE)
33      Klebsiella pneumoniae ssp ozaenae
35                  Staphylococcus caprae
37           Staphylococcus aureus (MRSA)
54                   Providencia stuartii
54                     Citrobacter koseri
71         Salmonella group D1(non typhi)
76                  Enterococcus faecalis
82                             Yeast-like
87            Achromobacter denitrificans
119           Staphylococcus haemolyticus
129              Corynebacterium striatum
180      Morganella morganii ssp morganii
213                      Candida glabrata
232                    Pseudomonas putida
257               Acinetobacter baumannii
267                Cyberlindnera fabianii
272                   Salmonella group C1
294                 Staphylococcus aureus

In [263]:
# # Create one hot encoder
# from sklearn.compose import ColumnTransformer 

# ct = ColumnTransformer([("Name", OneHotEncoder(),[5])], remainder="passthrough")
# mergeSet = ct.fit_transform(mergeSet)
# data = np.array(ct.fit_transform(mergeSet), dtype = np.str) 

# # mergeSet.iloc[:, -3:-1]

In [264]:
# from sklearn.feature_selection import SelectKBest

# kb = SelectKBest(f_classif, k=15).fit(mergeSet.iloc[:,, Y1)
# X = kb.transform(X1)
# X

In [265]:
# Extract data
import numpy as np
from sklearn import preprocessing


# å‰µé€  dummy variables
label_encoder = preprocessing.LabelEncoder()
encoded_no = label_encoder.fit_transform(mergeSet[0])

# å»ºç«‹è¨“ç·´èˆ‡æ¸¬è©¦è³‡æ–™
patient_x = mergeSet.iloc[:, [False, True, True, False, False, True, True, True]]
patient_y = mergeSet[6]

patient_x

     1  2_x        2_y           3          4
0    1   62  36.547368  111.095238  19.437500
1    1   86  36.356250   96.560000  17.176471
2    1   81  36.645833   71.772727  18.388889
3    2   89  36.940000   85.700000  18.900000
4    2   71  36.636364   93.416667  19.136364
..  ..  ...        ...         ...        ...
315  2   39  36.800000   83.772727  18.250000
316  2   55  37.137931   96.421053  18.062500
317  1   79  36.655556  118.679245  19.145833
318  2   77  36.941176   74.631579  19.250000
319  2   73  36.580000  111.000000  17.933333

[320 rows x 5 columns]

In [266]:
# Seperate training set and testing set
from sklearn import ensemble, model_selection, metrics
train_X, test_X, train_y, test_y = model_selection.train_test_split(patient_x, patient_y, test_size = 0.3)

# Create random forest model
forest = ensemble.RandomForestClassifier(n_estimators = 100)
forest_fit = forest.fit(train_X, train_y)

# Predict
test_y_predicted = forest.predict(test_X)

# Score
accuracy = metrics.accuracy_score(test_y, test_y_predicted)
print(accuracy)

0.8020833333333334

In [267]:
# Cal AUC
fpr, tpr, thresholds = metrics.roc_curve(test_y, test_y_predicted)
auc = metrics.auc(fpr, tpr)
print(auc)

0.7045088566827696

In [268]:
# f1 score
f1 = metrics.f1_score(test_y, test_y_predicted)
f1

0.5777777777777777